body{
    font-family: 'Nunito', sans-serif!important;
    color: #5a6980!important;
    
}
body p{
    font-size: 0.875rem;
}
body h1{
    font-weight: 900;
    font-size: 5vw;
}
body h2{
    font-weight: 900;
    font-size: 5vh;
}
body h5{
    font-weight: 400;
    font-size: 2.5vh;
}


.py-8{
    padding-top: 8rem !important;
}
.text-align-center{
    text-align: center;
}

.max-width-150{
    max-width: 150px!important;
}
.min-width-128 > svg{
    transform: scale(4);
}
.feature-card-icon{
    margin: 4rem 1rem;
}
.top-bottom-margin-8rem{
    margin-top:8rem!important;
    margin-bottom:8rem!important;
}
.bottom-margin-8rem{
    margin-bottom:8rem;
}

#search-icon-banner{
    border:0px solid rgba(255,255,255,0)!important;
    background-color: rgba(255,255,255,0)!important;
}
.search-bar-banner{
    border: 1px solid #ced4da!important;
    border-radius:8px;
}
:is(.search-bar-banner) input,button{
    border: 0px!important;
}

.dashboard-card-footer{
    background-color:rgba(255,255,255)!important;
}
@media (min-width: 1281px){
    .dashboard-card-title{
        color:#7f8c8d;
    }
    .dashboard-card-subtitle{
        font-size:0.85em!important;
    }
    .dashboard-card-title{
        font-size:1.5em!important;
    }
    .dashboard-card-img{
        max-width: 40%!important;;
    }
    .featured-post-card-title{
        font-size: 0.875rem!important;
        font-weight: 700!important;
    }
    .featured-post-card-subtitle{
        font-size: 0.75rem!important;
    }
}
@media (min-width: 319px) and (max-width: 1280px) {
    .dashboard-card-title{
        font-size:1.2em!important;
    }
    .dashboard-card-subtitle{
        font-size:0.85em!important;
    }
    .dashboard-card-img{
        max-width: 40%!important;;
    }
    .dashboard-card-footer{
        padding-right:10px!important;
        padding-left:10px!important;
    }
    .featured-post-card-title{
        font-size: 0.875rem!important;
        font-weight: 700!important;
    }
    .featured-post-card-subtitle{
        font-size: 0.75rem!important;
    }
  }

.card-stats{
    border-radius: 8px!important;
    border: 0px solid;
    background: -webkit-linear-gradient(315deg, #ffffffb6 0%, #ffffff56 100%)!important;
    border-color: #fff!important;
}

.feature-cards{
    border-radius: 15px!important;
    border: 0px solid;
    background: -webkit-linear-gradient(315deg, #ffffffa4 0%, #ffffff18 100%)!important;
    border-color: #fff!important;
    /* box-shadow: 0 5px 10px rgba(0,0,0,0.19), 0 3px 3px rgba(0,0,0,0.23); */
}
:is(.feature-cards) a{
    text-decoration: none;
    color:inherit;
    font-weight:700;
}
/* .padding-r-l-75{
    padding-left: 10%!important;
    padding-right: 10%!important;
} */
.front-end-main{
    background-color: rgba(142, 197, 252, 0.123);
    background-image: repeating-linear-gradient(75deg, #8ec5fc2d 0%, #e0c3fc1e 56%, #b0c8fb13 99%);
}



h1,h2,h3{
    background: -webkit-linear-gradient(315deg, #4158d0 0%, #E0C3FC 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.view-btn-color {
    background-color: #3A49CD!important;
}

.notdisplayed {
    opacity: 0;
}

.displayed{
    transition: opacity 450ms;
    opacity: 1;
}

.member-card-img{
    max-width: 96px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
}
:is(.member-card) .h5{
    font-size: 1.2vw!important;
}
:is(.member-card) .h6{
    font-size: 1vw!important;
}
:is(.member-card) p{
    font-size: 0.875vw!important;
}
/* .member-card{
    height:350px;
} */

.view-member-btn{
    border-radius: 0px!important;
}

.individual-breadcrumb-row{
    background-image: url('/src/frontendsite/components/assets/IndividualBackground.jpg');
    background-size: auto;
    padding: 20px 0px 0px 20px;
    color:#fff;
    border-radius: 12px;
    min-height: 180px;
    margin-top:1rem!important;
}
.individual-profile-identity{
    top:150px;
    left: 35px;
    z-index: 10;
    position: absolute;
    border-radius: 12px;
    background-color: #ebececd3;
    padding: 10px 10px;
    width: 95%;
}
.top-margin-8rem{
    margin-top:8rem!important;
}

.top-margin-2rem{
    margin-top:2rem!important;
}
.position-relative{
    position: relative;
}

.individual-profile-buttons{
    margin-right: 10px;
}

.align-right{
    text-align: end;
}

.margin-top-1rem{
    margin-top: 1.5rem!important;
}

.featured-post-cards{
    background-color: rgba(255, 255, 255, 0)!important;
    border: none!important;
    box-shadow: none!important;
}

.dotted-hr{
    border-top: 3px dotted red;
    background-color: rgba(255, 255, 255, 0);
}

.blogpost-title{
    background: -webkit-linear-gradient(315deg, #000000 0%, #000000 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 10px 20px;
}

.blogpost-title-col{
    background-image: url(https://i.imgur.com/JNes3J4.jpeg);
}

:is(.front-end-main) .custom-a{
    color:#c0392b!important;
    text-decoration: none;
}

:is(main) footer{
    background-color: rgba(255,255,255,0.5);
    font-size: 0.75rem;
    padding-top: 50px;
}

:is(footer) a{
    color:inherit;
    text-decoration: none;
    
}
:is(footer) h5{
    font-weight: 900;
}

.footer-hr{
    background-color: #3a49cda1;
    
}
.front-site-header{
    background-color: #ffffff75;
}

:is(.front-site-header) a{
    font-weight: 700;
}


.about h1 {
	padding: 10px 0;
	margin-bottom: 10px;
}
.about h2 {
    background: -webkit-linear-gradient(315deg, #4158d0 0%, #4158d0 100%);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.5rem;
}
.about span {
	display: block;
	width: 90px;
	height: 90px;
	line-height: 80px;
	margin:auto;
	border-radius:50%;  
	font-size: 40px;
	color: #FFFFFF;
	opacity: 0.7;
	background: -webkit-linear-gradient(315deg, #4158d0 0%, #E0C3FC 100%);
	border: 2px solid #4158d0;

	webkit-transition:all .5s ease;
 	moz-transition:all .5s ease;
 	os-transition:all .5s ease;
 	transition:all .5s ease;

}
.about-item:hover span{
	opacity: 1;	
	border: 2px solid #CC0039;
	font-size: 42px;
	-webkit-transform: scale(1.1,1.1) rotate(360deg) ;
	-moz-transform: scale(1.1,1.1) rotate(360deg) ;
	-o-transform: scale(1.1,1.1) rotate(360deg) ;
	transform: scale(1.1,1.1) rotate(360deg) ;
}
.about-item:hover h2{
	opacity: 1;
	-webkit-transform: scale(1.1,1.1)  ;
	-moz-transform: scale(1.1,1.1)  ;
	-o-transform: scale(1.1,1.1)  ;
	transform: scale(1.1,1.1) ;
}
.about .lead{
	font-size: 14px;
}

.home-view-all-button{
    background-color: rgba(255,255,255,0)!important;
    border: 1px solid #4158d0!important;
    color:#4158d0!important;    
}
.btn-primary{
    background-color: #4158d0!important;
    border-color: #4158d0!important;
}
.member-card-bio {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2; /* number of lines to show */
   -webkit-box-orient: vertical;
}
.member-card{
    margin-bottom: 2rem;
}

.padding-top-06rem{
    padding-top:0.6rem!important;
}

.skill-icon-member-page{
    font-size: 3rem;
    margin-right: 1rem;
}
.case-carousel-cards{
    margin-right:10px!important;
}
.card-group{
    margin-bottom:5rem;
}

.featured-post-cards{
    margin-bottom:10px;
}
.home-page-member-card-link{
    text-decoration: none;
    color:inherit;
}